{% extends 'base.html' %}

{% load meus_filtros %}
<!--Para adicionar uma classe do bootstrap no label, basta carregar o filtro e adicionar no codigo-->
<!--{{ ...   |addclass:'form-control' }}-->

{% block conteudo %}

<form action="" method="post" style="width:600px; margin: auto">
    {% csrf_token %}
    <p></p>
    <div class="form-group">
        {{ form_tarefa.titulo.errors }}
        <label>Título:</label>
        {{ form_tarefa.titulo|addclass:'form-control' }}
    </div>
    <div class="form-group">
        {{ form_tarefa.descricao.errors }}
        <label>Descrição:</label>
        {{ form_tarefa.descricao|addclass:'form-control' }}
    </div>
    <div class="form-group">
        {{ form_tarefa.data_expiracao.errors }}
        <label>Data de Expiração:</label>
        {{ form_tarefa.data_expiracao|addclass:'form-control' }}
        <small class="form-text text-muted">dd/mm/aaaa</small>
        <div class="invalid-feedback">Invalid data</div>
    </div>
    <div class="form-group">
        {{ form_tarefa.prioridade.errors }}
        <label>Prioridade:</label>
        {{ form_tarefa.prioridade|addclass:'form-control' }}
    </div>
    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-primary">
        <a href="{% url 'listar_tarefas' %}" class="btn btn-secondary">Voltar</a>
    </div>

</form>

{% endblock conteudo %}