{% extends 'base.html' %}

{% load meus_filtros %}
<!--Para adicionar uma classe do bootstrap no label, basta carregar o filtro e adicionar no codigo-->
<!--{{ ...   |addclass:'form-control' }}-->

{% block conteudo %}
<form method="post" style="width:300px; margin: auto">
    {% csrf_token %}

    <div class="form-group">
        {{ form_usuario.username.errors }}
        <label>Usuário: </label>
        {{ form_usuario.username|addclass:'form-control'}}
    </div>

    <div class="form-group">
        {{ form_usuario.password1.errors }}
        <label>Senha: </label>
        {{ form_usuario.password1|addclass:'form-control' }}
    </div>

    <div class="form-group">
        {{ form_usuario.password2.errors }}
        <label>Confirmação de Senha: </label>
        {{ form_usuario.password2|addclass:'form-control' }}
    </div>

    <div class="form-group">
        <input type="submit" value="Cadastrar" class="btn btn-primary">
    </div>

</form>

{% endblock conteudo %}